<div class="container">
　<div class="row">
　  <h1>Blog</h1>
　  <h3 class="blog-heding">
　    <%= @blog.blog_title %>
　  </h3>
　  <p class ="blog-date">
　    <%= @blog.created_at.strftime('%Y/%m/%d %H:%M') %>
　  </p>
　  <div class="blog-image">
　    <%= attachment_image_tag @blog, :image, :fill, 500, 350 %>
　  </div>
　  <p class="blog-text">
　    <%= simple_format(@blog.blog_text) %>
　  </p>
　  <h3>Comments</h3>
　  <% @blog.blog_comments.each do |blog_comment| %>
　  <div class="box11">
　    <p class="blog-comment">お名前：<%= blog_comment.comment_name %></p>
　    <p>コメント：<%= blog_comment.blog_comment %>
　    <%= link_to "コメントを削除", blog_blog_comment_path(blog_comment.blog, blog_comment), method: :delete %>
　    </p><br>
    </div>
　  <% end %>

　  <%= form_with(model:[@blog, @blog_comment], local: true) do |f| %>
　    <h4>お名前</h4>
　    <%= f.text_field :comment_name %>
　    <h4>コメント</h4>
　    <%= f.text_area :blog_comment, size:"40x10", placeholder: "コメントをここに" %>
　    <%= f.submit "コメント投稿", class: "btn btn-primary" %>
    <% end %>
　  <%= link_to "<< Back", blogs_path %>
  </div>
</div>