<div class="container">
　<div class="row">
　  <%= form_with model:@review, url: reviews_path, local:true do |f| %>
　    <h1>院のご感想</h1>
　    <h4>お名前</h4>
　    <%= f.text_field :review_name %>
　    <h4>ご感想</h4>
　    <%= f.text_area :review_text,size: "40x10" %>
      <%= f.submit "送信", class: "btn btn-primary" %>
　  <% end %><br>
    <% @reviews.each do |review| %>
    <div class="box11">
      <p>お名前：<%= review.review_name %>
      <span class="comment-date pull-right">
      <%= link_to "/reviews/#{review.id}", method: :delete do %>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      <% end %>
      </span>
      </p>
      <p>ご感想：<%= review.review_text %></p><br>
      <span class="sentiment-score">本文の感情分析スコア<%= review.score %></span>
    </div>
    <% end %>
    <%= paginate @reviews %>
　</div>
</div>