<div class ="container">
  <div class ="row">
    <div class="col-xs-7"><br><br>
    <h2><%= @contact.name %>様のお問い合わせ詳細</h2><br>
    <table class="table table-hover table-inverse">
      <tr>
        <th>お問い合わせID</th>
        <th><%= @contact.id %></th>
      </tr>
      <tr>
        <th>氏名</th>
        <th><%= @contact.name %></th>
      </tr>
      <tr>
        <th>ご住所</th>
        <th><%= @contact.address %></th>
      </tr>
      <tr>
        <th>性別</th>
        <th><%= @contact.gender %></th>
      </tr>
      <tr>
        <th>年齢</th>
        <th><%= @contact.age %></th>
      </tr>
      <tr>
        <th>email</th>
        <th><%= @contact.email %></th>
      </tr>
      <tr>
        <th>お電話番号</th>
        <th><%= @contact.phone_number %></th>
      </tr>
      <tr>
        <th>返信ステータス</th>
        <%= form_with model:@contact, url: directors_contact_path(@contact), local:true do |f| %>
        <th><%= f.select :status, Contact.statuses.keys, {} %>&nbsp;&nbsp;&nbsp;&nbsp;<%= f.submit '更新' ,class: "btn btn-warning" %></th>
        <% end %>
      </tr>
    </table>
    <h4>お問い合わせ内容</h4>
    <p class ="contact-message">
      <%= @contact.massage %>
    </p>
    <%= link_to "<< Back", directors_contacts_path %>
  </div>
  </div>
</div>